[build]
publish = "dist"

[[redirects]]
from = "http://tandemindustrial.cl/*"
to = "https://www.tandemindustrial.cl/:splat"
status = 301
force = true

[[redirects]]
from = "https://tandemindustrial.cl/*"
to = "https://www.tandemindustrial.cl/:splat"
status = 301
force = true

[[headers]]
for = "/*"
[headers.values]
Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"
